{% extends "base.html" %}
{% load static %}
{% load render_partial %}

{% block title %}
    All Articles
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>Recent Posts</h4>
                            <h2>Our Recent Post Entries</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            {% for post in Posts %}
                                <div class="col-lg-6">
                                    <div class="blog-post">
                                        <div class="blog-thumb">
                                            <img src={{ post.Banner.url }} alt="">
                                        </div>
                                        <div class="down-content">
                                            <span>{{ post.Category }}</span>
                                            <a href={{ post.get_url }}><h4>{{ post.Title }}</h4></a>
                                            <ul class="post-info">
                                                <li><a href={{ post.get_author_url }}>{{ post.Author.get_fullname }}</a>
                                                </li>
                                                <li><a>{{ post.Created }}</a></li>
                                                <li><a>{{ post.Updated }}</a></li>
                                            </ul>
                                            <p>{{ post.Comment }}</p>
                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <ul class="post-tags">
                                                            <li><i class="fa fa-tags"></i></li>
                                                            <li><a>{{ post.Category }}</a>,</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-lg-12">
                                {% if Posts.has_other_pages %}
                                    <ul class="page-numbers">
                                        {% if Posts.has_previous %}
                                            <li><a href="{% url "Post:allPosts" Posts.previous_page_number %}"><i
                                                    class="fa fa-angle-double-left"></i></a></li>
                                        {% endif %}
                                        {% for page in Posts.paginator.page_range %}
                                            {% if page == Posts.number %}
                                                <li class="active"><a
                                                        href="{% url "Post:allPosts" page %}">{{ page }}</a>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <a href="{% url "Post:allPosts" page %}">{{ page }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if Posts.has_next %}
                                            <li><a href="{% url "Post:allPosts" Posts.next_page_number %}"><i
                                                    class="fa fa-angle-double-right"></i></a></li>
                                        {% endif %}
                                    </ul>
                                {% else %}
                                    <ul class="page-numbers">
                                        <li class="active"><a
                                                href="{% url "Post:allPosts" Posts.number %}">{{ Posts.number }}</a>
                                        </li>
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% render_partial "Base:sidebar" %}
            </div>
        </div>
    </section>
{% endblock %}