<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            {% if request.user.is_authenticated %}
                <p class="userName">{{ request.user }}</p>
            {% else %}
                <p class="userName">Blog Project</p>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% block Home_active %}{% endblock %}">
                        <a class="nav-link" href={% url "home_app:Home" %}>Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item {% block aboutUs_active %}{% endblock %}">
                        <a class="nav-link" href="">About Us</a>
                    </li>
                    <li class="nav-item {% block allArticles_active %}{% endblock %}">
                        <a class="nav-link" href={% url "blog:allArticles" %}>Blog Entries</a>
                    </li>
                    <li class="nav-item {% block details_active %}{% endblock %}">
                        <a class="nav-link" href={% url "blog:ArticleDetail" 1 %}>Post Details</a>
                    </li>
                    <li class="nav-item {% block contactUs_active %}{% endblock %}">
                        <a class="nav-link" href="contact.html">Contact Us</a>
                    </li>
                    {% if request.user.is_anonymous %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "account_app:Login" %}">Login</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "account_app:Logout" %}">Logout</a>
                        </li>
                    {% endif %}
                    {% if request.user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Admin Panel</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>